p {
	font-size: 16px;
}

.p-2 {
	width: 600px;
}

input {
	border: 2px solid #343a40 !important;
	width: 600px !important;
	margin-left: 8px !important;
	margin-right: 8px !important;
	position: fixed;
}

.input-margin {
	margin: 8px;
}

.custom-card {
	width: 260px;
	border: 2px solid #343a40;
	border-radius: 6px;
	height: 608px;
	padding: 8px;
	margin-right: 40px;
	background-color: white;
}

hr {
	background-color: #343a40;
}

body {
	margin-right: 20px !important;
	margin-left: 20px !important;
	margin-top: 20px !important;
}

h1 {
	margin-bottom: 0px !important;
	margin-top: 10px !important;
}

.fa-linkedin {
	color: #0077B5;
}

.side {
	position: fixed;
}

main {
	position: relative;
	left: 280px;
}

.fa-html5,
.fa-css3-alt,
.fa-js {
	margin-top: 6px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 6px;
}

.fa-js {
	color: #F7E018;
}

.fa-html5 {
	color: #F26525;
}

.fa-css3-alt {
	color: #2965F1;
}

#conversation {
	position: relative;
	top: 44px;
}

#loader {
	position: relative;
	top: 48px;
	left: 8px;
}
